POSTGRES_HOST=auth-db
POSTGRES_PORT=5432
POSTGRES_DB=auth
POSTGRES_USER=auth
POSTGRES_PASSWORD=auth
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-refresh
JWT_EXPIRES_IN_MINUTES=60
JWT_REFRESH_EXPIRES_IN_MINUTES=10080
